.todo {
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px;

    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.todoBox{
    display: flex;
    align-items: center;
    gap:20px;
}

.todoImg {
    width: 36px;
    height: 36px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    cursor: pointer;
}

.desc{
    font-size: 12px;
    opacity: .5;
}

.todoText__done {
    opacity: 0.2;
    text-decoration: line-through;
}

.deleteBtnBox{
    text-align: right;
}

.deleteBtn{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.2s linear;
}

.deleteBtn:hover{
    scale: 1.3;
}

@media (max-width: 600px) {
    .todo {
        font-size: 20px;
    }
}