.addTodo{
    height: 72px;
    font-size: 32px;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 16px;

    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.addTodoImg{
    width: 36px;
    height: 36px;
    background-image: url(../../assets/images/plus.png);
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.2;
    cursor: pointer;
}

.addTodoInput{
    outline: none;
    border: none;

    font-size: 30px;
    font-style: italic;
    
    opacity: 0.2;
}